<!DOCTYPE html>
<html>
<head>
  <title>Plantilla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'plantilla', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scrollreveal', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.countdown', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://use.fontawesome.com/3d77764934.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.magnific-popup', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
